/data/*
!/data/.keep
!/data/introducer-grid/introducer
/data/introducer-grid/introducer/logs
/data/introducer-grid/introducer/running.process.lock
/data/introducer-grid/introducer/running.process

####
!.idea/codeStyles
!.idea/runConfigurations
*$py.class
**/*.ignore
**/*.playground
**/*.rs.bk
*.cover
*.egg
*.egg-info/
*.env
*.icloud
*.iws
*.lcov
*.log
*.manifest
*.mo
*.pdb
*.pid
*.pid.lock
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.seed
*.so
*.spec
*.tgz
*.tsbuildinfo
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.cache/
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.dmypy.json
.docusaurus
.dynamodb/
.eggs/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fseventsd
.fusebox/
.grunt
.hypothesis/
.idea/*
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.mypy_cache/
.next
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.parcel-cache
.pdm-build/
.pdm-python
.pdm.toml
.pnp.*
.pnpm-debug.log*
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.scrapy
.serverless/
.spyderproject
.spyproject
.stylelintcache
.svelte-kit
.temp
.tern-port
.tox/
.venv
.vscode-test
.vuepress/dist
.webassets-cache
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/site
ENV/
Icon
MANIFEST
Network Trash Folder
Temporary Items
__pycache__/
__pypackages__/
atlassian-ide-plugin.xml
bower_components
build/
build/Release
celerybeat-schedule
celerybeat.pid
cmake-build-*/
com_crashlytics_export_strings.xml
cover/
coverage
coverage.xml
crashlytics-build.properties
crashlytics.properties
cython_debug/
db.sqlite3
db.sqlite3-journal
debug/
develop-eggs/
dist
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.*# Created by https://www.toptal.com/developers/gitignore/api/jetbrains+all
env.bak/
env/
fabric.properties
htmlcov/
ignore/
instance/
ipython_config.py
jspm_packages/
lerna-debug.log*
lib-cov
lib/
lib64/
local_settings.py
logs
node_modules/
nosetests.xml
npm-debug.log*
out
out/
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
test-files/
profile_default/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
web_modules/
wheels/
yarn-debug.log*
yarn-error.log*
